.containerDaddy {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  background-color: rgba(253, 253, 253, 0.369);
  width: 1300px;
  padding-top: 5rem;
}

.containerChild {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.454);
  padding-inline: 1rem;
  padding-top: 1rem;
  border-radius: 10px;
  height: 400px;
  width: 350px;
  align-items: center;
}

.flag {
  width: 250px;
}

.containerDetails {
  width: 250px;
  display: block;
}
