.containerDaddy {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  background-color: rgba(53, 55, 54, 0.489);
  width: 1350px;
  height: 750px;
  padding-top: 2rem;
  border-radius: 1rem;
  overflow-y: scroll;
  position: relative;
}

.containerDaddy::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra de desplazamiento */
}

.containerDaddy::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del pulgar (thumb) de la barra de desplazamiento */
}

.containerDaddy::-webkit-scrollbar-track {
  background-color: #fd5c5c; /* Color de fondo de la barra de desplazamiento */
}

.tittle {
  margin-top: 1.5rem;
}
.containerChild {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.454);
  border-radius: 5px;
  height: 230px;
  width: 280px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.containerFlag h4 {
  font-size: 18px;
}

.flag {
  object-fit: cover;
  height: 180px;
  width: 280px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.containerDetails {
  width: 250px;
  display: block;
}

.ContainerButtonsPosition {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40%;
}

.ContainerButtons {
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: all 0.2s ease;
}

.containerChild:hover .ContainerButtons {
  /* display: flex; */
  opacity: 1;
}
.containerChild:hover h4 {
  color: rgb(101, 150, 248);
}

.buttons {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.325);
  /* border: 1px solid red; */
  border-radius: 3px;
  width: 150px;
  height: 35px;
}
/* 
.loadMoreButton {
  border: none;
  background-color: none;
} */

.ContainerBtnMore {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 95%;
  position: absolute;
  /* border: 1px solid blue; */
  width: 1350px;
}

.ContainerButton {
  display: flex;
  left: 50%;
  gap: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  /* border: 1px solid red; */
}

.buttonMore {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: white;
  background-color: #181818;
  /* border: 1px solid red; */
  border-radius: 8px;
  width: 300px;
  height: 35px;
}
